h1 {text-align: center;
}
h2 {text-align: center;
}
h3 {text-align: center;
}
h4 {text-align: center;
}
#lula1 {margin-left: 37%;
}
#lula1 {width: 30%;
}
#lula1 {border-color: rgb(0, 0, 0);
border-style: double;
border-width: 16px;
}
.parte01 {background-color: rgb(81, 63, 243);
}
.parte02 {background-color: rgb(57, 59, 35);
}
body {background-color: rgb(37, 37, 37);}